<?xml version="1.0"?>
<!--
/**
 *
 * Adapttive/Ui: module for Magento2 provides enhanced ui grid with refresh and conditional filters
 *
 * @category XML
 * @package Adapttive
 * @subpackage Ui
 * @author Milind Singh <hello@adapttive.com>
 * @copyright 2020 Milind Singh
 * @license MIT
 * @version 1.0.0
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Adapttive_Ui" >
        <sequence>
            <module name="Magento_Ui"/>
        </sequence>
    </module>
</config>
